/* #utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.d_flex {
    display: flex;
}

.space_between{
    justify-content: space-between;
}

.flex_wrap{
    flex-wrap: wrap;
}

/* #end_utilities */

.header_container{
    height: 50px;
    background-color: aqua;
    border: 1px solid;
}

.main_container{
    background-color: red;
    height: 500px;
}

.jumbotron{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: antiquewhite;
    border: 1px solid;
}

.section_container{
    width: 70%;
    height: 1000px ;
    margin: auto;
}
    

.row1{
    height: 20%;
    background-color: aqua;
    border: 1px solid;
}

.row2{
    height: 60%;
    border: 1px solid;
}
    
    
    

.col-3{
    width: calc(100% / 12 * 3);
    height: 100%;
    background-color: goldenrod;
    border: 1px solid;
}

.col-4{
    width: calc(100% / 12 * 4);
    height: 100%;
    background-color: goldenrod;
    border: 1px solid;
}

.company_logo{
    width: 50%;
    height: 50%;
    border: 1px solid;
}



