/* #utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif; 
}




.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.d_flex {
    display: flex;
}

.center_x{
    justify-content: center;
}

.center_y{
    align-items: center;
}

.space_between{
    justify-content: space-between;
}

.space_around{
    justify-content: space-around;
}

.flex_wrap{
    flex-wrap: wrap;
}

.direction_column{
    flex-direction: column;
}


.margin_row{

    margin-top: 8rem;

}

.margin_row_2{
    margin-top: 2.5rem;
    
}







/* #end_utilities */

.header_container{
    height: 50px;
    
}
    

li{
    list-style: none;
    margin: 1rem;
}

li > a{
    text-decoration: none;
    color: black;
}


button{
    padding: 0.3rem 0.6rem;
}




h2{
    font-size: 36px;
    
}

.fa-arrow-down{
    position: absolute;
    top: 90%;
    left: 15%;
    font-size: 32px;
}



#jumbo{
    width: 55%;
    position: absolute;
    top: 40%;
    left: 45%;

}

.alpha_container > h1{
    font-size: 60px;
    position: absolute;
    left: 14%;
    top: 5%;
    
}

.alpha_container > p{
    position: absolute;
    top: 40%;
    left: 14%;
    font-size: 14px;
    
}

#free_trial{
    position: absolute;
    left: 14%;
    top: 67%;

}

#annulla_sottoscrizione{
    position: absolute;
    left: 14%;
    top: 77%;
}

#fatturazione{
    margin-bottom: 1rem;
}

#fatturazione_2, #fatturazione_1{
    display: inline-block;
}
#fatturazione_2{
    margin-left: 2rem;
}



.piano_business{
    margin-top: 8rem;
    line-height: 2rem;

}


.icon{
    padding-top: 0.3rem;
    
}


.main_container{
    
    height: 500px;
}

.smaller_main_container{
    height: 30vh;
    background-color: #b4d0e7;
   
}





.alpha_container{
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    
    
}

.section_container{
    width: 70%;
    margin: auto;
    height: 100%;
     
}

.col-3{
    width: calc(100% / 12 * 3);
    
    
}
    
   

.col-4{
    width: calc(100% / 12 * 4);
    height: 100%;
    
    
}

.col-5{
    width: calc(100% / 12 * 5);
    height: 100%;
}


   

/* #business-col-region */

.business{
    
    border: 0.5px solid grey;
}

.business_content{
    margin-top: 1rem;
}

.business_content > h3{
    margin-left: 1rem;
}

.business_content > h5{
    margin-left: 1rem;
    margin-top: 1rem;
}

h5 ~ p{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.fa-solid{
    padding-right: 0.3rem;

}

.business_col_button{
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.business_col_button ~ p{
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.first_hr{
    margin-top: 0.5rem;
}





.mid_hr{
    width: 20%;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.mid_hr ~ h5{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.richiedi_preventivo{
    margin-top: 3rem;
    border: 1px solid;
}

.contatta_ufficio{
    margin-top: 1.5rem;
    
}

.contatta_ufficio > p{
    margin: 2.5rem 0;
}

.contatta_ufficio > h5{
    margin-top: 1rem;
}

.icon .fa-building, span{
    display: flex;
    justify-content: center;
}




/* #end-business-col-region */

/* #partners-section-region */
#partner{
    width: 60%;
   
}

h3 ~ p{
    margin-top: 1rem;
}

#trova_partner{
    margin-top: 2rem;
}




.card_content{
    margin-top: 3rem;
    margin-left: 4rem;
}

.dropbox_imgs{
    width: 100%;
}

#h2_relative{
    position: relative;
    top: 6rem;
}

 

h2 ~ div{
    margin-top: 3rem;
}


.company_logo{
    width: 50%;
    height: 50%;
    border: 1px solid;
    
}

.dropbox_teams{
    width: 50%;
    filter: invert(1) ;
    
}

#bigger_designit{
    width: 60%;
    margin-left: 2.5rem;
    margin-top: 1rem;

}

hr ~ p{
    margin-left: 2.5rem;
    margin-top: 2rem;
    
}

#morten{
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
.hr_faq{
    margin-top: 1.5rem;
}

.hr_faq ~ p{
    margin-left: 0;
}



.faq{
    width: 70%;
    height: 80%;
    
}

.footer_container{
    background-color: black;
    height: 50vh;
}

.footer_content{
    color: white;
    padding-top: 5rem;
    line-height: 2;


}

.direction_column > h3{
    font-size: 22px;
    margin-bottom: 1rem;

}
 
.direction_column  a{
    color: white;
    text-decoration: none;
}

#footer_hr{
    border-color: lightgray;
    margin-top: 5rem;
    width: 60%;
}

#footer_language{
    margin-top: 2rem;
    color: lightgrey;
}



/* background-colors */

.black_footer{
    background-color: black;
}

.jumbo_color{
    background-color: #b4d0e7;
}

.designit{
    background-color: #C9e48c;
}

.arizona{
    background-color: 
    #4c0906
   
}

.florida{
    background-color: #4199d4;
}

.topps{
    background-color: #Fd122a;
}

.bicycle{
    background-color: #B10315
    
}

.hearst{
    background-color:  #b4d0e7;

}

.lonely{
    background-color: #1907b3;
}

.channel{
    background-color: #F9dd14;
}

.bigger_designit{
    background-color: #F7f9f9;
}





    













    


    
    

  
    
    









   
    

























